<div class="container">
  <h2>Basket ({{totalQuantity()}})</h2>
  <table>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Sub-Total</th>
      <th>Remove</th>
    </tr>
    <tr *ngFor="let item of items">
      <td *ngIf="item.inBasket">{{item.name}}</td>
      <td *ngIf="item.inBasket">{{item.quantity}}</td>
      <td *ngIf="item.inBasket && item.special_offer == true;else standardPrice"> {{item.quantity * item.special_offer_price | currency:'GBP':true }}</td>
        <ng-template #standardPrice><td *ngIf="item.inBasket"> {{item.quantity * item.price | currency:'GBP':true }}</td></ng-template>
      <td *ngIf="item.inBasket"><button class="btn" (click)="cancelItem(item)">Remove</button></td>
    </tr>
    <tr>
      <td><strong>Total Cost:&nbsp;</strong></td>
      <td></td>
      <td></td>
      <td>{{totalCost() | currency:'GBP':true}}</td>
    </tr>
  </table>
  <form id="filter">
    <label for="term">Search Menu</label>
    <input type="text" id="term" name="term" [(ngModel)]="term" />
  </form>
</div>
<br/>
<br/>
<div class="container">
      <h2><strong>Menu</strong></h2>
      <p>Take a look at our cocktails on offer as we try to recreate the drinks of the prohibition era.</p>
    <div class="col-md-4 col-lg-4 drink-item" *ngFor="let item of items | filter:term">
        <div class="container-overlay" [class.basket]="item.inBasket">
          <div class="frame">
            <img class="img-responsive" [src]="item.image" [alt]="item.imageDescription">
            <div class="overlay">
              <div class="text">{{item.about}}</div>
            </div>
          </div>
        </div>
        <div class="cocktail-info">
          <h3 class="cocktail-name">{{item.name}}</h3>
          <div *ngIf="item.special_offer == true;else standardPrice">
            <h4 [class.special]="item.special_offer" class="price">{{item.special_offer_price | currency:'GBP':true}}</h4>
          </div>
          <!-- Special Offer Price -->
          <ng-template #standardPrice><h4 class="price">{{item.price | currency:'GBP':true}}</h4></ng-template>
          <p class="cocktail-ingredients">{{item.main_ingredient}}, {{item.additional_ingredients}}</p>
          <div class="select-quantity">
            <button class="decrease" (click)="downQuantity(item)">-</button>
            <input class="number" type="text" readonly [value]="item.quantity" [(ngModel)]="item.quantity">
            <button class="increase" (click)="upQuantity(item)">+</button>
          </div>
          <div *ngIf="item.stock_available > item.quantity" class="stock-remain"><strong>{{item.stock_available - item.quantity}} remaining</strong></div>
          <div *ngIf="item.quantity === item.stock_available" class="stock-sold"><strong>Sold Out</strong></div>
        </div>
    </div>
  </div>
