.drink-item {
  padding: 1.5%;
  float: left;
  margin: 5% 0;
}
.img-responsive {
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.7);
  z-index: 200;
}
.container-overlay:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 12px;
  position: absolute;
  padding: 5%;
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}
.frame {
  background-color: #ddc;
  border: 5px  solid #eee;
  border-bottom-color: #000;
  border-left-color: #000;
  border-radius: 2px;
  border-right-color: #000;
  border-top-color: #000;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing: border-box;
  display: inline-block;
  margin: 10px 10px;
  height: auto;
  padding: 10px;
  position: relative;
  text-align: center;
}
.frame::before {
  border-radius: 2px;
  bottom: 10px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
  content:"";
  left: 10px;
  position:absolute;
  right: 10px;
  top: 10px;
}
.frame::after {
  border-radius: 2px;
  bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
  content:"";
  left: 10px;
  position:absolute;
  right: 10px;
  top: 10px;
}
.cocktail-info {
  text-align: center;
}
.number {
  width: 50px;
  text-align: center;
}
.cocktail-name {
  font-weight: 700;
  height: 100px;
}
.cocktail-ingredients {
  font-style: italic;
  font-size: 14px;
  height: 60px;
}
button.decrease,
button.increase {
  background-color: #000;
  color: #fff;
}
.book-button {
  margin: 10px;
}
.search-box {
  background-color: #000;
  color: #fff;
  padding: 5%;
  margin: 5%;
}
.total {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 1% 0;
  text-align: center;
}
.stock-remain {
  padding: 10px;
  color: green;
}
.stock-sold {
  padding: 10px;
  color: red;
}
table,
tr,
th {
  border: 1px solid #000;
  text-align: center;
}
form {
  float: right;
  display: block;
}
.menu {
  margin: 2%;
}
.special {
  color: green;
  font-weight: 700;
}
.basket {
  opacity: 0.6;
}
